@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="~/beam.jpg" height="400" id="imgBeam" />
    <img src="~/vault.jpg" height="400" id="imgVault" />
    <h1 class="display-4">Hannah's Fav Hobby: Gymnastics</h1>
    <h3>Hannah is an aspiring gymnast even in her 20s</h3>
    <p>Hannah competed in gymnastics from ages 7-14, but eventually quit because it was expensive and time consuming. Since coming to BYU, she has started attending BYU's gymnastics club and reminiscing her childhood. She has relearned many skills that she once knew and will be competing in an adult gymnastics meet in a few weeks where she will most likely embarrass herself. She is confident that she will have a good time though. '</p>
    <p>Some tricks that Hannah can do:</p>
    <ul>
        <li>Round off backhandspring back layout full twist</li>
        <li>Fronthandspring front pike</li>
        <li>Switchleap into a wolf jump</li>
    </ul>
</div>


